
body {
    background-image: url("https://media0.giphy.com/media/DpBCUvKRw5USlsWRvD/giphy.gif?cid=4d1e4f298da72d16dbd676d79573f3d6d9e605c41a0b7d0f&rid=giphy.gif");
    background-position: center;
    background-repeat: repeat;
}


input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}


input[type=submit] {
  background-color: yellow;
  color: black;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


input[type=submit]:hover {
  background-color: #45a049;
}


.container {
  border-radius: 5px;
  background-color:black ;
  padding: 20p
}